.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# 忽略资源中的所有 gif 图片
resources/*.gif
resources/*.png
resources/*.jpg
resources/*.jpeg
resources/*.svg
resources/*.webp
resources/*.html
resources/*.afdesign

cspell-roles.txt
novel-helper
.out-of-code-insights
.history