.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
# 忽略资源中的所有 gif 图片
resources/*.gif
resources/*.png
resources/*.jpg
resources/*.jpeg
resources/*.svg
resources/*.webp
resources/*.html
resources/*.afdesign

cspell-roles.txt
novel-helper
.out-of-code-insights
.history
builder

*.py


# ============= 忽略扩展源码、配置文件 =============
**/*.ts
**/tsconfig.json
**/*.map

# ============= 忽略 webview 开发目录 =============
packages/webview/src/
packages/webview/quasar.config.ts
packages/webview/node_modules/
packages/webview/.quasar/
packages/webview/.vscode/
packages/webview/package-lock.json
packages/webview/README.md
packages/webview/**/*.config.*

# ============= 忽略扩展打包中间产物 =============
out/
dist/
node_modules/

# ============= 忽略其它管理文件夹 =============
.vscode/
.history/
.vscode-test/

# ============= 保留前端 SPA 产物 =============
!packages/webview/dist/
!packages/webview/dist/**


.pixi/*
!.pixi/config.toml
